*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: sans-serifial,Arial !important;
	
}
a{
	text-decoration:none;
}
p{
	line-height: 150%;
	margin-bottom:2em;
	
}
h1,h2,h3,h4,h5,h6{
	margin-top: 10px;
	margin-bottom:10px;
	font-weight:normal;
}/*every section containerFull fix  container*/
.containerFull{
	width: 100%;
	
}
.fix{
	overflow: hidden;
}
.container{
	width: 1349px;
	background: green;
	position:fixed;
	z-index:1;
}

/*start header section */
#header{
	
}
#header .logo_left {
    float: left;
    padding: 1px;
    margin-left: 138px;
    margin-top: -11px;

}
#header .logo_left h1{
	font-family:lato;
	font-weight:bold;
	font-size: 40px;
	color: #fff;
	
}#header .logo_left a{
	color: #fff;
	
}#header .logo_left a:hover{
	color:#000;
	transition:1s ease;
}
/*header menu*/
#header nav{
	 float:right;
	 margin-right: 150px;
	 position: sticky;}

#header #menu{
	list-style:none;
}
#header #menu li{
	display:flex;

	
}
#header #menu li a{
	display:block;
	color: #fff;
	font-family:lato;
	font-size: 16px;
	padding: 20px;
	box-sizing:bordr-box;
	margin-right: 1px;
	
	border-left: 1px solid gray;
	text-transform:uppercase;
}#header #menu li a:hover{
	color:#000;
	transition: .5s;background:white;
}#header #menu li:hover{
	
	

	
}
#header #menu li.active{
	
}/*end header section */

/*strat banner section */

.bannerSlide{
	height: 650px;
}.banner{
	margin: 0 auto;
	position:relative;
	overflow:hidden;
	
}
.bannerContent{
	position:absolute;
	top: 300px;
	left:35%;
	text-align:center;
	color:green;
	font-weight:bold;
}.

.bgoverlay{
	position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    background: #111;
	
}
.banner_top_des h3{
	font-size: 26px;
	line-height: 1.565;

}
.banner_title h1{
	font-size: 64px;
	text-shadow:none;
	font-weight:bold;
	
	
}.banner_bottom_des h3{
	font-size: 26px;
	line-height: 1.565;
}
.social{
	margin-top: 20px 5px;
}.social a{
	 line-height: 33px;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 2px;
    text-align: center;
    color: green;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
}.social a:hover{
	color: green;
	border-color: #000;
	background: #000;
}
/*end banner section */

/*strat sigle title section */

#sigleSection{
	margin-top: 50px;
	
}#sigleSection .single_title{
	
}#sigleSection .single_title h1{
	text-align:center;
	font-weight:bold;
	color:green;
	font-size:32px;
	text-transform:uppercase;
}.sigleSection_bottom{
	height:12px;
	width: 12px;
	border:1px solid #2196f3;	border-radius:50%;
	margin: 0 auto;
	position:relative;
}
.sigleSection_bottom::after{
	content: "";
    position: absolute;
    height: 1px;
    width: 61px;
	background:#2196f3;
	bottom: 5px;
	right:-70px;
	
}
.sigleSection_bottom::before{
	content: "";
    position: absolute;
    height: 1px;
    width: 61px;
	background:#2196f3;
	left: -70px;
    bottom: 5px;
}
/*end sigle title section */
/*strat about section */

#about_description{
	width:1300px;
}
.about_area{
	width: 100%;
	margin-left: 100px;
	margin-right:100px;
	
}	
.about_area .about_cotent{
	width: 30%;
	float:left;
	margin-top: 25px;
	
}	
.about_area .about_cotent h2{}	
.about_area .about_cotent p{	   
	   padding-right: 15px;
	   font-size: 14px;
}	


.profile_img img {
    height: 383px;
    width: 390px;
    border-radius: 50%;
    margin-left: 0px;
}
.infolist{
	list-style:none;
}.infolist li{
	padding:2px;
	margin-top:5px;
	
}.about_cotent .social{
	margin-left:60px;
}
.about_cotent .social a{
	color:green;
	font-size: 26px;
}
.about_cotent .social a:hover{
	color:green;
}
.progress_bar_area{}
.single_progrss {
    margin: 22px 34px;
}	

.skill_inf{
	
}
.skillname{float:left;}
.skillPersent{float:right;}
.progress progress{
	margin-top:7px;
	width: 330px;
	height: 20px;
	
}
/*end about section */
/*start service section */



.main_container_service{
	margin-top:50px;
	background:#dae1ed;
	margin-left: 40px;
	
}
.service_Section{
	width:28%;
	float:left;
	border:3px solid  #eff1f5ed;
	border-radius: 3px;
	padding:6px;
	margin:10px;
	
}
.service_Section:hover{
	background:green;
	cursor:pointer;
	
	
}
.service_Icon{
	
	font-size: 46px;
	color: blue;
	padding: 5px;
	margin:10px;
	text-align:Center;

	
	
}
.service_content{
	font-size: 17px;
	 color: black;
	 padding: 12px;
	 text-align: justify;
	 background:#e8ebef;
}
.service_content h3{
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	text-shadow:2px 3px 10px #0eef0e;
}
/*end service section */

/*strat project section */


.project_section{
	margin-top: 10px;
	margin-bottom:10px;
	height: 400px;
	
}.project_area{
	width:15%;
	float:left;
	border:3px solid  #eff1f5ed;
	border-radius: 3px;
	padding:10px;
	margin-left: 82px;
	margin-top: 150px;
	text-align:center;
	color:#fff;
}.projectICon{
	font-size:45px;
}
.project_area h2{
	font-size: 40px;
	
}.project_area p{
	font-size: 12px;
}
/*end project section */

/*strat portfolio section */

.portfolio{
	margin-left: 80px;
	margin-top: 60px;
	margin-bottom: 20px;
}
.portfolio_box{
    width: 22%;
    height: 230px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-top: 0px ;
	margin-left:-1px;
	margin-right:18px;
margin-bottom: 40px;
	
}
.portfolio_box img{
		max-width:100%;	
		transition:all .5s ease;
	height: 260px;
	width: 400px;
	
}
.portfolio_box span{
	text-align:center;
	bottom:30px;
	width:100%;
	height:35px;
	color:#fff;
	background:rgba(0,0,0,0.5);
	position: absolute;
	z-index:999;
	line-height:35px;
	display:block;
}
.portfolio_box:hover span{
	 color:#1aaa1a;
}

.portfolio_box:hover img{
	transform:scale(1.3,1.3);
	transition:all .5s ease;
}
#contactSection{
	width: 100%;
	margin-left: 90px;
}
/*end portfolio section */

/*start  conatact  us*/

.frmsection{
	width: 45%;
	margin-top:50px;
	margin-bottom:50px;
	float:left;
	margin-left:20px;
	
}
.inpt{
	width: 500px;
	height: 30px;
	outline:0;
	margin-left: 10px;
	margin-bottom:10px;
}.txtarea{
	margin-left:12px;
}.sub{
	margin-top:10px;
	width: 250px;
	height:30px;
	margin-left:10px;
}.adresIcn p{
	margin-left:25px;
	margin-top:-22px;
	font-size:13px;
}.address{
	float:left;
	margin-left: 25px;
	width:35%;
}
/*end  conatact  us*/
